{% from "browse_extras.html" import render_year %}
{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-sm-3 col-md-2">
    <h4> Jump to Year </h4>
		<ul>
			{% for year in range(max_year, min_year - 1, -1) %}
			<li><a href="#{{ year }}"> {{ year }} </a></li>
			{% endfor %}
		<ul>
  </div>

  <div class="col-sm-9 col-md-10">
    {% for year in range(max_year, min_year - 1, -1) %}
    {{ render_year(year, valid_days) }}
    {% endfor %}
  </div>

</div>
{% endblock body %}
