{% macro line_graph(name, query,
    width='100%', height='300px', style='',
    zoom=False, log_scale=False, normalize=False) -%}
<div id="{{ name }}" style="width:{{ width }}; height:{{ height }}; {{ style }}">
    <svg style="width:100%; height:100%"></svg>
  </div>
  <script>
nv.addGraph(function() {
  {% if zoom %}
  var chart = nv.models.lineWithFocusChart();
  {% else %}
  var chart = nv.models.lineChart();
  {% endif %}


  chart.xAxis
      .tickFormat(function(d) {
        return d3.time.format('%x')(new Date(d * 1000))
      });

  {% if log_scale %}
  chart.yScale(d3.scale.log());
  chart.yAxis.tickValues([1,10,100,1000,10000,1000000,10000000]);
  {% endif %}

  {% if normalize %}
  chart.yAxis.tickFormat(d3.format(',.4f'));
  {% else %}
  chart.yAxis.tickFormat(d3.format(',d'));
  {% endif %}

  {% if zoom %}
  {% if normalize %}
  chart.y2Axis.tickFormat(d3.format(',.4f'));
  {% else %}
  chart.y2Axis.tickFormat(d3.format(',d'));
  {% endif %}
  {% endif %}

  d3.select('#{{ name }} svg')
      .datum({{ graph_query(query, normalize=normalize, **kwargs) | tojson }})
      .transition().duration(500)
      .call(chart);

  nv.utils.windowResize(chart.update);

  return chart;
});
  </script>
{%- endmacro %}

{% macro table(query, striped=False, nick_split=False) -%}

<table class="table {% if striped %} table-striped {% endif %}" >

  {% set table_data = table_query(query, nick_split=nick_split, **kwargs) %}
  {% if not condensed %}
  <thead>
    <tr>
      <th> {{ table_data[0][0] }} </th>
      {% for value in table_data[0][1:] %}
      <th> {{ value }} </th>
      {% endfor %}
    </tr>
  </thead>
  {% endif %}
  <tbody>
    {% for row in table_data[1:] %}
    <tr>
      <td> {{ row[0] }} </td>
      {% for value in row[1:] %}
      <td> {{ value }} </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}
