{% import "graphs.html" as graphs %}
{% extends "layout.html" %}

{% block head %}
<style>
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
</style>
{% endblock head %}}

{% block body %}
<div class="jumbotron">
  <h2> Over {{ num_tnaks }} TNAKs served! </h2>

  <p class="lead">
    Monolithic #GreatestGuys IRC logs dating back to February 2013. Logs are
    available in an easy to process JSON format and regenerated hourly. Add new
    graphs and visualizations by forking on GitHub. New templates will be
    automatically pulled in hourly.
  </p>

  <p>
    <a class="btn btn-lg btn-success" role="button"
       href="{{ url_for('static', filename='log.json') }}">
      Get the logs
    </a>

    <a class="btn btn-lg btn-info" role="button"
       href="https://github.com/GreatestGuys/irc-stats">
      Fork on GitHub
    </a>
  </p>
</div>

<div class="row">

  <div class="col-md-6 text-center">
    <h4>Trending This Week</h4>
    <br>
    {% for (word, fraction) in trending %}
      <div class="row">
        <div class="col-xs-6 text-right"> {{ word }} </div>
        <div class="col-xs-6 text-success text-left"> +{{ fraction }} </div>
      </div>
    {% endfor %}
  </div>

  <div class="col-md-6 text-center">
    <h4>Reputation</h4>
    {{ graphs.table(
        [
          ('+1 Cosmo', '^\\+1 cfumo'),
          ('+1 Graham', '^\\+1 graham'),
          ('+1 Jesse', '^\\+1 jesse'),
          ('+1 Will', '^\\+1 will'),
          ('+1 Zhenya', '^\\+1 zhenya'),
        ],
        nick_split=True,
        ignore_case=True) }}
  </div>

</div>

<div class="row">

  <div class="col-md-6 text-center">
    <h4>Total Chats</h4>
    {{ graphs.line_graph(
        'chats-over-time',
        [('Chats', '.*')],
        coarse=True,
        cumulative=True) }}
  </div>

  <div class="col-md-6 text-center">
    <h4>Hardest Chatters</h4>
    {{ graphs.line_graph(
        'hardest-chatters',
        [('', '.*')],
        coarse=True,
        cumulative=True,
        nick_split=True) }}
  </div>

  <div class="col-md-6 text-center">
    <h4>Humor</h4>
    {{ graphs.line_graph(
        'tnaks-over-time',
        [
          ('TNAKs', '\\btnak\\b'),
          ('LOLs', '\\b(l+o+)(l+(o+)?)+\\b'),
          ('HAHAs', '\\b(h+a+)+\\b'),
          ('BWAHAHAs', '\\bbw*a(h+a+)+\\b')
        ],
        coarse=True,
        cumulative=True,
        ignore_case=True,
        log_scale=True) }}
  </div>

  <div class="col-md-6 text-center">
    <h4>Links / Messages</h4>
    {{ graphs.line_graph(
        'link-whores',
        [('', 'https?://')],
        coarse=True,
        cumulative=True,
        ignore_case=True,
        nick_split=True,
        normalize=True) }}
  </div>
</div>
{% endblock body %}
