{% import "graphs.html" as graphs %}
{% extends "layout.html" %}

{% block head %}
<style>
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
</style>
{% endblock head %}}

{% block body %}

<div class="jumbotron">
  <h2> Over {{ num_tnaks }} TNAKs served! </h2>

  <p class="lead">
    Monolithic #GreatestGuys IRC logs dating back to February 2013. Logs are
    available in a easy to process JSON format and regenerated hourly. Add new
    graphs and visualizations by forking on GitHub. New templates will be
    automatically pulled in hourly.
  </p>

  <p>
    <a class="btn btn-lg btn-success" role="button"
       href="{{ url_for('static', filename='log.json') }}">
      Get the logs
    </a>

    <a class="btn btn-lg btn-info" role="button"
       href="https://github.com/GreatestGuys/irc-stats">
      Fork on GitHub
    </a>
  </p>
</div>

<div class="row">
  <div class="col-lg-6">
    <h4>Total Chats</h4>
    {{ graphs.line_graph(
        'chats-over-time',
        [('Chats', '.*')],
        cummulative=True) }}
  </div>

  <div class="col-lg-6">
    <h4>Humor</h4>
    {{ graphs.line_graph(
        'tnaks-over-time',
        [
          ('TNAKs', '\\b[Tt][Nn][Aa][Kk]\\b'),
          ('LOLs', '\\b([Ll]+[Oo]+)([Ll]+([Oo]+)?)+\\b'),
          ('HAHAs', '\\b([Hh]+[Aa]+)+\\b'),
          ('BWAHAHAs', '\\b[Bb][Ww][Aa]([Hh]+[Aa]+)+\\b')
        ],
        cummulative=True,
        log_scale=True) }}
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <h4>Reputation</h4>
    {{ graphs.line_graph(
        'rep-over-time',
        [('+1', '^\\+1\\b'), ('-1', '^-1\\b')],
        cummulative=True) }}
  </div>
</div>



{% endblock body %}
