{% import "graphs.html" as graphs %}
{% from "extras.html" import checkbox %}
{% from "extras.html" import radios %}
{% from "query_extras.html" import query_line %}
{% extends "layout.html" %}

{% set graph_type = request.args.get('type') == 'table'
                    and 'table'
                    or 'graph'
%}

{% macro query_nav_item(label, type) -%}
<li role="presentation"
    {% if graph_type == type %}
    class="active"
    {% endif %} >
  <a href="{{ modify_query(type=type) }}">{{ label }}</a>
</li>
{%- endmacro %}

{% block head %}
<script>
function addTerm(parentId) {
  var termDOM = {{ query_line() | tojson | safe }};
  var div = document.createElement('div');
  div.innerHTML = termDOM;
  console.log(div);
  document.getElementById(parentId).appendChild(div);
}
</script>
{% endblock head %}

{% block body %}
{% set hide_controls = request.args.get("hide_controls") %}
{% if not hide_controls %}
<ul class="nav nav-tabs">
  {{ query_nav_item('Graph', 'graph') }}
  {{ query_nav_item('Table', 'table') }}
</ul>

<form method="GET">
  <input type="hidden" name="type" value="{{ graph_type }}" />
	<div class="row">
		<div class="col-lg-2">
      <h4>Options</h4>

      {% if graph_type == 'graph' %}
      {{ checkbox("Cumulative", "cumulative") }}
      {% endif %}
      {{ checkbox("Ignore Case", "ignore_case") }}
      {% if graph_type == 'graph' %}
      {{ checkbox("Log Scale", "log_scale") }}
      {{ checkbox("Month Granularity", "coarse") }}
      {{ checkbox("Normalize", "normalize") }}
      <div class="sub-checks">
        {{ radios("normalize_type", [
          ("Raw", "raw"),
          ("6 Pt Trailing Avg", "trailing_avg_6"),
          ("12 Pt Trailing Avg", "trailing_avg_12"),
          ("30 Pt Trailing Avg", "trailing_avg_30"),
          ("60 Pt Trailing Avg", "trailing_avg_60"),
          ("90 Pt Trailing Avg", "trailing_avg_90"),
          ("180 Pt Trailing Avg", "trailing_avg_180"),
        ]) }}
      </div>
      {% endif %}
      {{ checkbox("Split by Nick", "nick_split") }}
      {% if graph_type == 'table' %}
      {{ checkbox("Order By Total", "order_by_total") }}
      {% endif %}

      <div class="checkbox">
        <input
            type="text"
            name="title"
            class="form-control"
            value="{{ request.args.get('title') or '' }}"
            placeholder="Graph Title" />
      </div>

			<button class="btn btn btn-success btn-block"
              type="button"
              onclick="addTerm('term-container')">
				Add Term
      </button>

			<button class="btn btn btn-primary btn-block" type="submit">
				Graph
      </button>
		</div>

		<div id="term-container" class="col-lg-10">
      <div class="row">
        <div class="col-lg-2">
          <h4>Labels</h4>
        </div>
        <div class="col-lg-10">
          <h4>Regular Expressions</h4>
        </div>
      </div>

      {% if query == [] %}
        {{ query_line() }}
      {% else %}
      {% for (label, regexp) in query %}
        {{ query_line(label, regexp) }}
      {% endfor %}
      {% endif %}

		</div>
	</div>
</form>
{% endif %}

<div class="page-header">
  <h3 style="display: inline;">
    {{ request.args.get('title') or 'Results' }}
  </h3>

  <div style="display:inline; float:right;">
    {% if hide_controls %}
    <a href="{{ modify_query(hide_controls='') }}">
      Edit
    </a>
    {% else %}
    <a href="{{ modify_query(hide_controls='1') }}">
      Full Screen
    </a>
    {% endif %}
  </div>
</div>

<div class="row">
{% if graph_type == 'graph' %}
  <div class="col-lg-12">
    {{ graphs.line_graph(
        'query-result',
        query,
        height='500px',
        coarse=request.args.get('coarse'),
        cumulative=request.args.get('cumulative'),
        ignore_case=request.args.get('ignore_case'),
        log_scale=request.args.get('log_scale'),
        nick_split=request.args.get('nick_split'),
        normalize=request.args.get('normalize'),
        normalize_type=request.args.get('normalize_type'),
        zoom=True) }}
  </div>
{% else %}
  {% set nick_split = request.args.get('nick_split') %}
  {% if nick_split %}
  <div class="col-lg-12">
  {% else %}
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
  {% endif %}
    {{ graphs.table(
        query,
        striped=True,
        ignore_case=request.args.get('ignore_case'),
        nick_split=nick_split,
        order_by_total=request.args.get('order_by_total')) }}
  {% if nick_split %}
  </div>
  {% else %}
  </div>
  <div class="col-lg-4"></div>
  {% endif %}
{% endif %}
</div>
{% endblock body %}
