{% from "extras.html" import checkbox %}
{% import "graphs.html" as graphs %}
{% extends "layout.html" %}

{% macro page_link(page, text) -%}
{% if page != None %}
<a href="{{ modify_query(p=page) }}" class="btn btn-lg btn-link">
  {{ text }}
</a>
{% else %}
<a href="#" class="btn btn-lg btn-link disabled">
  {{ text }}
</a>
{% endif %}
{% endmacro -%}

{% macro page_nav() -%}
<div class="row">
  <div class="col-xs-4"> {{ page_link(prev_page, "Previous") }} </div>
  <div class="col-xs-4 align-center">
    <h4>
      {{ start }} - {{ end }} of {{ total_lines }}
    </h4>
  </div>
  <div class="col-xs-4 align-right"> {{ page_link(next_page, "Next") }} </div>
</div>
{% endmacro -%}

{% block body %}

<div class="row search-box">
  <form>
    <div class="col-md-10">
      <input
          type="text"
          name="q"
          class="form-control"
          value="{{ request.args.get('q') or '' }}"
          placeholder="Regular Expression" />
    </div>
    <div class="col-md-2">
      <button class="btn btn btn-success btn-block"
              type="submit"
              onclick="addTerm('term-container')">
        Search
      </button>
    </div>
    <div class="col-md-2">
      {{ checkbox("Ignore Case", "ignore_case") }}
    </div>
  </form>
</div>

{% if lines != [] %}

<div class="row search-box">
  {{ graphs.bar_graph(
      'search-histogram',
      histogram,
      height='200px') }}
</div>

{{ page_nav() }}

<table class="table table-striped">
<tbody>
{% for ((year, month, day), i, line, prefix, match, sufix) in lines %}
<tr>
  <td class="align-right col-sm-2 col-md-1">
    <div class="col-md-12">
      {{ line['nick'] }}
    </div>
    <div class="col-md-12 text-muted">
      {{ month }}/{{ day }}/{{ year }}
    </div>
  </td>
  <td style="word-break: break-word; width: 100%">
      {{ prefix }}<span class='alert-danger'>{{ match }}</span>{{ sufix }}
  </td>
  <td>
    <a href="{{ url_for(
        'browse_day',
        year=year, month=month, day=day,
        _anchor='L%d' % i) }}" class="btn btn-sm btn-link">
        Go To
    </a>
  </td>
</tr>
{% endfor %}
</tbody>
</table>

{{ page_nav() }}

{% endif %}
{% endblock body %}
